Exp 7 - File Handling and Exception Handling

GitHub Repo Link
https://github.com/krishika0503/PythonExperiment

Q) Add few names, one name in each row, in "name.txt file."
a. Count no of names
b. Count all names starting with vowel
c. Find longest name

In [1]:
with open("name.txt", "w") as f:
    f.write("Aarav\n")
    f.write("Aashi\n")
    f.write("Krishika\n")
    f.write("Riddhi\n")
    f.write("Ananya\n")
    f.write("Rohan\n")
    f.write("Esha\n")

print("name.txt created successfully!")

name.txt created successfully!

In [2]:
with open("name.txt", "r") as f:
    names = f.read().splitlines()

#a. Count total names
total = len(names)

#b. Count names starting with vowel
vowels = ('a','e','i','o','u','A','E','I','O','U')
vowel_count = 0

for name in names:
    if name.startswith(vowels):
        vowel_count += 1

#c. Find longest name
longest = names[0]

for name in names:
    if len(name) > len(longest):
        longest = name

# Output
print("Total names:", total)
print("Names starting with vowel:", vowel_count)
print("Longest name:", longest)

Total names: 7
Names starting with vowel: 4
Longest name: Krishika

Q) Store integers in a file:
a. Find the max number
b. Find average of all numbers
c. Count number of numbers greater than 100

In [3]:
with open("numbers.txt", "w") as f:
    f.write("45\n")
    f.write("120\n")
    f.write("300\n")
    f.write("75\n")

print("numbers.txt created successfully!")

numbers.txt created successfully!

In [4]:
with open("numbers.txt", "r") as f:
    numbers = [int(line.strip()) for line in f]

# a. Find max number
maximum = max(numbers)

# b. Find average
average = sum(numbers) / len(numbers)

# c. Count numbers greater than 100
count = 0
for num in numbers:
    if num > 100:
        count += 1

# Output
print("Maximum number:", maximum)
print("Average:", average)
print("Count greater than 100:", count)

Maximum number: 300
Average: 135.0
Count greater than 100: 2

Assume a file city.txt with details of 5 cities in the given format cityname population (in lakhs) area (in sq km)

Open file city.txt and read to:

a. Display details of all cities
b. Display city names with population more than 10Lakhs
c. Display sum of areas of all cities

In [5]:
with open("city.txt", "w") as f:
    f.write("Dehradun 5.78 308.20\n")
    f.write("Delhi 190 1484\n")
    f.write("Mumbai 124 603.4\n")
    f.write("Chandigarh 11 114\n")
    f.write("Jaipur 30 467\n")

print("city.txt created successfully!")

city.txt created successfully!

In [6]:
with open("city.txt", "r") as f:
    total_area = 0

    print("All City Details:")

    for line in f:
        city, population, area = line.split()

        population = float(population)
        area = float(area)

        # Display all cities
        print(city, population, area)

        # Display cities with population > 10 lakhs
        if population > 10:
            print("Population > 10 Lakhs:", city)

        # Add area
        total_area += area

print("Total Area of all cities:", total_area)

All City Details:
Dehradun 5.78 308.2
Delhi 190.0 1484.0
Population > 10 Lakhs: Delhi
Mumbai 124.0 603.4
Population > 10 Lakhs: Mumbai
Chandigarh 11.0 114.0
Population > 10 Lakhs: Chandigarh
Jaipur 30.0 467.0
Population > 10 Lakhs: Jaipur
Total Area of all cities: 2976.6

Input two values from user where the first line contains N, the number of test cases. The next N lines contain the space separated values of a and b. Perform integer division and print a/b. Handle exception in case of ZeroDivisionError or ValueError.

In [9]:
N = int(input())

for i in range(N):
    try:
        a, b = input().split()
        result = int(a) // int(b)
        print(result)

    except ZeroDivisionError as e:
        print("Error Code:", e)

    except ValueError as e:
        print("Error Code:", e)

3
1 0
Error Code: integer division or modulo by zero
2 $
Error Code: invalid literal for int() with base 10: '$'
l
Error Code: not enough values to unpack (expected 2, got 1)

Create multiple suitable exceptions for a file handling program.

In [10]:
try:
    filename = input("Enter file name: ")

    f = open(filename, "r")   # Try opening file

    total = 0
    count = 0

    for line in f:
        num = int(line.strip())   # May cause ValueError
        total += num
        count += 1

    average = total / count      # May cause ZeroDivisionError
    print("Average:", average)

    f.close()

except FileNotFoundError:
    print("Error: File does not exist.")

except PermissionError:
    print("Error: Permission denied.")

except ValueError:
    print("Error: File contains non-integer data.")

except ZeroDivisionError:
    print("Error: File is empty, cannot divide by zero.")

except Exception as e:
    print("Unexpected Error:", e)

finally:
    print("Program finished.")

Enter file name: name.txt
Error: File contains non-integer data.
Program finished.

Write a program to create a counter to show that how many times the program is executed.

In [11]:
import os

filename = "counter.txt"

# If file does not exist, create it and write 0
if not os.path.exists(filename):
    with open(filename, "w") as f:
        f.write("0")

# Read current count
with open(filename, "r") as f:
    count = int(f.read())

# Increase count
count += 1

# Write updated count back to file
with open(filename, "w") as f:
    f.write(str(count))

print("Program executed", count, "times.")

Program executed 1 times.