In [ ]:
Exp 6 - Functions

Github Repo Link
https://github.com/krishika0503/PythonExperiment

Write a Python function to find the maximum and minimum numbers from a sequence
of numbers.

In [4]:
def max_min(lst):
    maximum = lst[0]
    minimum = lst[0]

    for i in lst:
        if i > maximum:
            maximum = i
        if i < minimum:
            minimum = i

    return maximum, minimum


n = int(input("Enter number of elements: "))
nums = []

for i in range(n):
    nums.append(int(input("Enter number: ")))

print("Max and Min:", max_min(nums))
3

Enter number of elements: 3
Enter number: 2
Enter number: 3
Enter number: 1
Max and Min: (3, 1)

3

Write a Python function that takes a positive integer and returns the sum of the cube of
all the positive integers smaller than the specified number.

In [5]:
def sum_cube(n):
    total = 0
    for i in range(1, n):
        total += i*i*i
    return total


num = int(input("Enter number: "))
print("Sum of cubes:", sum_cube(num))

Enter number: 10
Sum of cubes: 2025

Write a Python function to print 1 to n using recursion.

In [6]:
def print_n(n):
    if n == 0:
        return
    print_n(n-1)
    print(n)

num = int(input("Enter number: "))
print_n(num)

Enter number: 2
1
2

Write a recursive function to print Fibonacci series upto n terms.

In [7]:
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)

num = int(input("Enter number of terms: "))

for i in range(num):
    print(fib(i), end=" ")

Enter number of terms: 2
0 1

Write a lambda function to find volume of cone.

In [8]:
r = float(input("Enter radius: "))
h = float(input("Enter height: "))

volume = lambda r, h: (1/3) * 3.14 * r * r * h

print("Volume:", volume(r, h))

Enter radius: 4
Enter height: 2
Volume: 33.49333333333333

Write a lambda function which gives tuple of max and min from a list.

In [9]:
n = int(input("Enter number of elements: "))
nums = []

for i in range(n):
    nums.append(int(input("Enter number: ")))

result = lambda x: (max(x), min(x))

print("Max and Min:", result(nums))
6

Enter number of elements: 4
Enter number: 34
Enter number: 7
Enter number: 8
Enter number: 1
Max and Min: (34, 1)

Write functions to explain the mentioned concepts:
9. a. Keyword argument
b. Default argument
c. Variable-length argument

In [13]:
def info(name, age=18):
    print("Name:", name, "Age:", age)

def add(*nums):
    print("Sum:", sum(nums))


# Input
name = input("Enter name: ")
age = input("Enter age (press enter for default): ")

if age == "":
    info(name)              # default argument
else:
    info(name=name, age=int(age))   # keyword argument

nums = list(map(int, input("Enter numbers separated by space: ").split()))
add(*nums)      # variable-length argument

Enter name: kri
Enter age (press enter for default): 18
Name: kri Age: 18
Enter numbers separated by space: 4
Sum: 4

Write a program to check whether all the values in a dictionary are the same or not using
a lambda function.

In [11]:
n = int(input("Enter number of items: "))
d = {}

for i in range(n):
    key = input("Enter key: ")
    value = input("Enter value: ")
    d[key] = value

check = lambda x: len(set(x.values())) == 1

if check(d):
    print("All values are same")
else:
    print("Values are not same")

Enter number of items: 4
Enter key: 3
Enter value: 23
Enter key: 5
Enter value: 7
Enter key: 9
Enter value: 7
Enter key: 8
Enter value: 5
Values are not same

Write a program to create two lists and generate a dictionary with keys from list1 and
values from list2.

In [12]:
n = int(input("Enter number of elements: "))

list1 = []
list2 = []

print("Enter elements for list1:")
for i in range(n):
    list1.append(input())

print("Enter elements for list2:")
for i in range(n):
    list2.append(input())

result = dict(zip(list1, list2))

print("Generated Dictionary:", result)
8

Enter number of elements: 3
Enter elements for list1:
2
3
5
Enter elements for list2:
6
7

Generated Dictionary: {'2': '6', '3': '7', '5': ''}