Exp 3 - Loops

Github Repo Link
https://github.com/krishika0503/PythonExperiment

Find a factorial of given number

In [2]:
n = int(input("Enter number: "))
fact = 1

for i in range(1, n + 1):
    fact *= i

print("Factorial =", fact)

Enter number: 3
Factorial = 6

Check whether number is armstrong or not

In [ ]:
n = int(input("Enter number: "))
s = 0
t = n

while t > 0:
    d = t % 10
    s = s + d*d*d
    t = t // 10

if s == n:
    print("Armstrong number")
else:
    print("Not an Armstrong number")

Enter number: 153
Armstrong number

Print Fibonacci series up to given term.

In [3]:
n = int(input("Enter number of terms: "))

a, b = 0, 1

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 2
0 1

Write a program to find if given number is prime number or not.

In [4]:
n = int(input("Enter number: "))

if n <= 1:
    print("Not Prime")
else:
    for i in range(2, n):
        if n % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime Number")

Enter number: 15
Not Prime

Check whether the number is palindrome

In [5]:
num = input("Enter a number:")

is_palindrome = True
length = len(num)

for i in range(length // 2):
    if num[i] != num[length - i - 1]:
        is_palindrome = False
        break

if is_palindrome:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a number:141
Palindrome

Write a program to print sum of digits.

In [6]:
n = int(input("Enter number: "))
sum_digits = 0

while n != 0:
    sum_digits += n % 10
    n //= 10

print("Sum of digits =", sum_digits)

Enter number: 52
Sum of digits = 7

Count and print all numbers divisible by 5 or 7 between 1 to 100.

In [7]:
count = 0

for i in range(1, 101):
    if i % 5 == 0 or i % 7 == 0:
        print(i, end=" ")
        count += 1

print("\nTotal count =", count)

5 7 10 14 15 20 21 25 28 30 35 40 42 45 49 50 55 56 60 63 65 70 75 77 80 84 85 90 91 95 98 100
Total count = 32

Convert all lower cases to upper case in a string.

In [8]:
s = input("Enter string: ")

print("Uppercase:", s.upper())

Enter string: RoseWood
Uppercase: ROSEWOOD

Print the table for a given number:

In [9]:
n = int(input("Enter number: "))

for i in range(1, 11):
    print(f"{n} * {i} = {n*i}")

Enter number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Write a program to print the following pattern

In [10]:
n = 5

for i in range(n):

    # Left numbers
    for j in range(1, n - i + 1):
        print(j, end="")

    # Middle stars with space
    if i > 0:
        print(" ", end="")
        print("* " * i, end="")

    # Right numbers
    for j in range(n - i, 0, -1):
        if j != n - i + 1:
            print(j, end="")

    print()

1234554321
1234 * 4321
123 * * 321
12 * * * 21
1 * * * * 1

Write a program to print the sum of the following series
1+ ½ + 1/3 + ¼ +….+1/n

In [11]:
n = int(input("Enter value of n: "))
sum_series = 0

for i in range(1, n + 1):
    sum_series += 1 / i

print("Sum of series =", sum_series)

Enter value of n: 2
Sum of series = 1.5