Experiment 1 - Basic Python Statements

Github Repo Link
https://github.com/krishika0503/PythonExperiment

Q) Create a variable to store your age and print its type using type()

In [ ]:
age = 18
print("Age:", age)
print("Type:", type(age))

Age: 18
Type: <class 'int'>

Q) Declare a string variable called x and assign it the value â€œHello"

In [ ]:
x = "Hello"
print("Value of x:", x)

Value of x: Hello

Q) Take different data types and print values using print function

In [ ]:
a = 5
b = 6.9
c = "Krishika"
d = True

print(a)
print(b)
print(c)
print(d)

5
6.9
Krishika
True

Q) Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign a value of 7 to y, perform
addition, multiplication, division and subtraction on these two variables and Print out the result

In [ ]:
x = 9
y = 7

print("Addition:", x + y)
print("Multiplication:", x * y)
print("Division:", x / y)
print("Subtraction:", x - y)

Addition: 16
Multiplication: 63
Division: 1.2857142857142858
Subtraction: 2

Q) Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras
theorem

In [ ]:
import math

a = 3
b = 4

c = math.sqrt(a*a + b*b)
print("Hypotenuse:", c)

Hypotenuse: 5.0

Q) Write a program to find simple interest

In [ ]:
P = 1000
R = 5
T = 2

SI = (P * R * T) / 100
print("Simple Interest:", SI)

Simple Interest: 100.0

Q) Write a program to find area of triangle when length of sides are given

In [ ]:
base = 10
height = 5

area = 0.5 * base * height
print("Area:", area)

Area: 25.0

Q)Write a program to convert given seconds into hours, minutes and remaining second

In [ ]:
seconds = 3665

hours = seconds // 3600
minutes = (seconds % 3600) // 60
remaining_seconds = seconds % 60

print("Hours:", hours)
print("Minutes:", minutes)
print("Seconds:", remaining_seconds)

Hours: 1
Minutes: 1
Seconds: 5

Q) Write a program to swap two numbers without taking additional variable

In [ ]:
a = 5
b = 10

a, b = b, a

print("a =", a)
print("b =", b)

a = 10
b = 5

Q) Write a program to find sum of first n natural numbers

In [ ]:
n = 5

sum = n * (n + 1) // 2
print("Sum:", sum)

Sum: 15

Q) Write a program to print truth table for bitwise operators (&, | and ^ operators)

In [ ]:
a = 5
b = 3

print("a & b =", a & b)
print("a | b =", a | b)
print("a ^ b =", a ^ b)

a & b = 1
a | b = 7
a ^ b = 6

Q) Write a program to find left shift and right shift values of a given number

In [ ]:
num = 8

print("Left shift:", num << 1)
print("Right shift:", num >> 1)

Left shift: 16
Right shift: 4

Q) Using membership operator find whether a given number is in sequence (10,20,56,78,89)

In [ ]:
num = 20
sequence = (10, 20, 56, 78, 89)

print(num in sequence)

True